.chart-pie-label {
    -fx-fill: #ffffff;
    -fx-font-size: 20;
}

.chart-pie-label-line {
    -fx-stroke: #ffffff;
    -fx-fill: #bdbcbc;
}
.chart-title{
    -fx-text-fill: #ffffff;
    -fx-font-size: 30;


}

.data0.chart-pie { -fx-pie-color: red; }
.data1.chart-pie { -fx-pie-color: green; }
